<div
  id="outer-container"
  class="container d-flex flex-column justify-content-center align-items-center"
>
  <div id="image-div" class="d-flex justify-content-center align-items-center">
    <img src="/assets/one.png" />
  </div>

  <h3 class="mt-3">Test One Works!</h3>

  <div class="d-flex mt-3">
    <button class="btn btn-outline-dark fw-bold me-3" [routerLink]="'/home'">
      Go Home
    </button>
    <button class="btn btn-outline-dark fw-bold" [routerLink]="'/two'">
      Go to Test Two
    </button>
  </div>
</div>
